<div class="popup">
    <button
        class="text-danger mt-2 float-right"
        (click)="close()"
    >
        <i class="fa-solid fa-xmark"></i>
    </button>
    @if (playlist()) {
    <h3>Modification Playlist</h3>
    } @else {
    <h3>Creation Playlist</h3>
    }
    <form
        [formGroup]="form"
        (ngSubmit)="onFormSubmit()"
    >
        <div>
            <label for="name">Name : </label>
            <input
                required
                type="text"
                id="name"
                formControlName="name"
            />
        </div>
        @if (form.controls['name'].invalid && form.controls['name'].touched) {
        <div>
            <p class="text-danger">Le nom de la playlist est requis</p>
        </div>
        }
        <div>
            <label for="description">Description : </label>
            <textarea
                required
                type="text"
                id="description"
                formControlName="description"
            ></textarea>
        </div>
        @if (form.controls['description'].invalid && form.controls['description'].touched) {
        <div>
            <p class="text-danger">La déscription de la playlist est requise</p>
        </div>
        }
        <div>
            <label for="isPrivate">Privée : </label>
            <input
                type="checkbox"
                id="isPrivate"
                formControlName="isPrivate"
            />
        </div>

        <button
            type="submit"
            class="btn-dark text-dark"
        >
            {{ playlist() ? 'Modifier la playlist' : 'Créer la playlist' }}
        </button>
    </form>
</div>
