@if (playlist) {

<div class="d-flex align-items-center flex-wrap">
    <h1 class="mr-2">{{ playlist.name }}</h1>
    <div>
        <app-change-playlist-player [playlist]="playlist"></app-change-playlist-player>
        @if(playlist.permission.canEdit) {
        <button
            (click)="openSharedPlaylist()"
            class="ml-3"
            title="Ajouter des contributeurs"
        >
            <i class="fa-solid fa-users"></i>
        </button>
        }
    </div>
</div>
<div class="mb-5">
    <span>{{ owner.user.name }}</span>
    @if (playlist.contributors.length > 1) {
    <span> et {{ playlist.contributors.length - 1 }} contributeurs</span>}
</div>
<table class="table-song-storage">
    <thead>
        <tr>
            <th data-break-point="500px">#</th>
            <th>Titre</th>
            <th data-break-point="600px">Date d'ajout</th>
            <th>Like</th>
            <th data-break-point="800px">Durée</th>
        </tr>
    </thead>
    <tbody>
        @for (songPlaylist of playlist.songPlaylists; track $index) {
        <tr>
            <td data-break-point="500px">{{ songPlaylist.position }}</td>
            <td>
                <div>{{ songPlaylist.song.name }}</div>
                <app-list-artists [items]="songPlaylist.song.songArtists"></app-list-artists>
            </td>
            <td data-break-point="600px">{{ songPlaylist.createdAt | date }}</td>
            <td>
                <app-like-button [likeableItem]="songPlaylist.song"></app-like-button>
            </td>
            <td data-break-point="800px">{{ songPlaylist.song.duration }}</td>
            <td>
                <app-add-to-playlist
                    [song]="songPlaylist.song"
                    [songPlaylist]="songPlaylist"
                    (removeSongPlaylist)="removeSongPlaylist($event)"
                ></app-add-to-playlist>
            </td>
        </tr>
        }
    </tbody>
</table>

}
<ng-container #popupContainer></ng-container>
