@if (token$ | async) {
<div class="d-flex justify-content-between">
    @if (authService.isArtist) {

    <a
        routerLink="/song/list"
        class="mr-2"
    >
        Musiques
    </a>
    }
    <a routerLink="/library">Bibliotéque</a>
</div>
<input
    id="searchInput"
    type="text"
    placeholder="Rechercher..."
    [ngModel]="search()"
    (ngModelChange)="submitSearch($event)"
/>
<div class="d-flex justify-content-between">
    <span class="mr-2">{{ authService.userName }}</span>
    <button
        class="btn-danger"
        (click)="disconnect()"
        title="Déconnexion"
    >
        <i class="fa-solid fa-right-from-bracket"></i>
    </button>
</div>
} @else { @if(!isRegisterPage()) {
<a routerLink="/register"> Inscription </a>
} @if(!isLoginPage()) {

<a routerLink="/login"> Connexion </a>
} }
