<span (click)="openMenu($event)"><i class="fa-solid fa-ellipsis-vertical"></i></span>
@if (isVisible()) {
<div
    class="custom-select"
    #dropdown
    [ngStyle]="positionStyle"
>
    <ul>
        @if (songPlaylist() && songPlaylist()?.permission?.canDelete) {
        <li
            class="option"
            (click)="removeFromPlaylist(songPlaylist())"
        >
            Retirer de cette playlist
        </li>
        } @if (playlists().length) {
        <li>Ajouter a une playlist</li>
        } @else {
        <li>Vous n'avez pas de playlist</li>
        } @for (playlist of playlists(); track $index) {
        <li
            class="option"
            (click)="addToPlaylist(song(), playlist)"
        >
            {{ playlist.name }}
        </li>
        }
    </ul>
</div>
}
