<div class="popup">
    <h3>Creation Playlist</h3>
    <form
        [formGroup]="form"
        (ngSubmit)="onFormSubmit()"
    >
        <div>
            <label for="name">Name : </label>
            <input
                required
                type="text"
                id="name"
                formControlName="name"
            />
        </div>
        <div>
            <label for="description">Description : </label>
            <input
                required
                type="text"
                id="description"
                formControlName="description"
            />
        </div>
        <div>
            <label for="isPrivate">Privée : </label>
            <input
                type="checkbox"
                id="isPrivate"
                formControlName="isPrivate"
            />
        </div>

        <button type="submit">Submit</button>
    </form>
    <button (click)="close()">Fermer</button>
</div>
