@if (result) { @if (result.artists) {
<section>
    <h2>Artiste</h2>
    @for (artist of result.artists; track $index) {
    <div>{{ artist.name }}<app-change-playlist-player [artist]="artist"></app-change-playlist-player></div>
    }
</section>
} @if (result.songs) {
<section>
    <h2>Musique</h2>
    @for (song of result.songs; track $index) {
    <div>
        {{ song.name }}
        <span>
            <app-add-to-playlist [song]="song"></app-add-to-playlist>
        </span>
    </div>
    }
</section>
} @if (result.albums) {
<section>
    <h2>Albums</h2>
    @for (album of result.albums; track $index) {
    <div>{{ album.name }}<app-change-playlist-player [album]="album"></app-change-playlist-player></div>
    }
</section>
} @if (result.playlists) {
<section>
    <h2>Playlist</h2>
    @for (playlist of result.playlists; track $index) {
    <div>{{ playlist.name }}<app-change-playlist-player [playlist]="playlist"></app-change-playlist-player></div>
    }
</section>
} }
