<form
    [formGroup]="form"
    (ngSubmit)="onSubmitRegister()"
>
    <label for="name">Pseudo : </label>
    <input
        required
        type="text"
        id="name"
        formControlName="name"
    />

    <label for="email">email : </label>
    <input
        required
        type="email"
        id="email"
        formControlName="email"
    />

    @if (form.controls['email'].invalid && form.controls['email'].dirty && form.controls['email'].touched) {

    <div>{{ form.controls['email'].hasError('email') }}</div>
    }

    <label for="password">Password : </label>
    <input
        required
        type="password"
        id="password"
        formControlName="password"
    />

    <label for="passwordConfirmed">passwordConfirmed : </label>
    <input
        required
        type="password"
        id="passwordConfirmed"
        formControlName="passwordConfirmed"
    />

    <label for="firstName">FirstName : </label>
    <input
        required
        type="text"
        id="firstName"
        formControlName="firstName"
    />

    <label for="lastName">LastName : </label>
    <input
        required
        type="text"
        id="lastName"
        formControlName="lastName"
    />

    <label for="birthAt">Naissance : </label>
    <input
        required
        type="date"
        id="birthAt"
        formControlName="birthAt"
    />
    <button
        type="submit"
        [disabled]="form.invalid"
    >
        Submit
    </button>
</form>
<a
    [routerLink]="['/login']"
    routerLinkActive="router-link-active"
>
    Connexion</a
>
