<div class="search-card">
    <img
        [src]="this.uploadService.getFileUrl(entity().image)"
        alt="image de {{ entity().name }}"
    />

    <div class="d-flex justify-content-between">
        <div>
            @if (!isSong) {
            <app-change-playlist-player
                [likeableItem]="entity()"
                class="mr-2"
            ></app-change-playlist-player
            >}
            <app-link-show [entity]="entity()">{{ entity().name }}</app-link-show>
        </div>
        <div class="align-self-end">
            <app-like-button [likeableItem]="entity()"></app-like-button>
            @if (isSong()) { @if (entity().permission.canEdit) {
            <app-link-show
                href="/upload/{{ entity().slug }}"
                class="ml-2"
            >
                <i class="fa-solid fa-upload"></i>
            </app-link-show>
            }
            <span class="ml-2"> <app-add-to-playlist [song]="getSong()"></app-add-to-playlist> </span>}
        </div>
    </div>
    <app-list-artists [items]="getSong().songArtists"></app-list-artists>
</div>
